.custom-check {
    background-color: #fff;
    color: lightgray;
    border-color: #ccc;
    width: 100%;
}

    .custom-check:hover {
        background-color: #fff;
        color: lightgray;
        border-color: #ccc;
    }

input[type=checkbox] {
    display: none;
}

    input[type=checkbox]:checked + label.check-circle {
        background: #469408;
        color: white;
    }

    input[type=checkbox]:checked + label.check-cross {
        background: #FF4500;
        color: white;
    }
